/* Board */
.background-big-task {
  height: calc(100% - 83px);
}

.status_edit {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  display: block;
}

@media (max-width: 1440px) {
  .tasks-container {
    overflow-y: hidden;
    width: 100%;
    display: flex;
    overflow-x: auto;
    height: unset;
    gap: 20px;
  }

  .board-columns {
    width: calc(100vw - 232px);
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
  }

  .board-column {
    width: 100%;
    margin-bottom: 0;
    height: unset;
  }
}

@media(max-width: 1275px) {
  #overlay-content {
    width: 500px;
  }
}

@media (max-width: 1200px) {
  /* sign-up */
  .join-logo {
    background-color: #2A3647;
  }
}

@media (max-width: 1044px) {
  .tasks-container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    height: unset;
  }

  .board-column {
    width: 100%;
    margin-bottom: 0;
    height: unset;
  }

  .small-add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--activeClickMenuBlue);
    cursor: pointer;
    height: 40px;
    width: 40px;
  }

  .small-add-button:hover {
    background-color: var(--lightblue);
  }

  .add-task-button {
    display: none;
  }

  .h1-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;
  }

  h1 {
    font-size: 47px;
  }

  .headline-container {
    flex-direction: column;
    align-items: baseline;
  }

  .text_board_headline {
    font-size: 27px;
  }

  .column-plus-button {
    width: 30px;
    height: 30px;
    background-size: contain;
  }

  .dialog_addTask_bg {
    display: none !important;
  }
}

@media (max-width: 900px) {
  .arrow_signUp {
    margin: 0;
    position: absolute;
    left: 0px;
    top: 16px;
  }
}

@media (max-width: 840px),
(max-height: 800px) {
  .outer-box {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
}

@media (max-height: 680px) and (max-width: 680px) {
  .taskOverlay {
    height: 100%;
    overflow-y: scroll;
    border-radius: 0;
  }

  .headline {
    min-height: 100px;
  }
}

@media (max-width: 680px) {
  .outer-box {
    height: calc(100vh - 160px);
    width: 100vw;
    bottom: 80px;
  }

  .headline-container {
    padding-top: 32px;
    width: calc(100vw - 32px);
  }

  .board-columns {
    padding: 0;
    width: calc(100vw - 32px);
  }

  .arrow_signUp {
    margin: 0;
    position: absolute;
    left: 0px;
    top: 16px;
  }

  .right_section {
    margin-left: 0px;
  }

  .add-task-edit-form {
    width: 440px;
  }

  #overlay-content {
    width: 472px;
    padding-top: 32px;
  }
}

@media(max-width: 600px) {
  .add-task-edit-form {
    width: 100%;
  }

  .title-edit {
    width: 100%;
  }

  .taskOverlay {
    width: calc(100vw - 32px);
    padding: 40px 20px;
    gap: 16px;
  }

  .task-info-wrapper {
    gap: 16px;
  }

  .headline {
    font-size: 45px;
    line-height: 1.2;
  }
}

@media(max-width: 500px) {
  h1 {
    font-weight: 700;
    line-height: 73.2px;
  }

  .board-columns {
    align-items: center;
  }

  .board-headline {
    width: 100%;
  }

  .plus-button {
    cursor: pointer;
  }

  .task-description-big {
    font-size: 16px;
  }

  .task-box-big h2 {
    font-size: 24px;
  }

  .task-box-big {
    padding: 16px;
    width: calc(100vw - 16px);
    margin: 16px;
  }

  .wrapper_close_edit_task {
    background-color: var(--white);
  }

  .d-flex p {
    font-size: 16px;
  }

  .margin-top-16px {
    font-size: 16px;
  }

  .container-member-big-task p {
    font-size: 16px;
  }

  .container-subtasks p {
    font-size: 12px;
  }

  .subtasks {
    justify-content: flex-start;
    padding-left: 0px;
    padding-right: 0px;
    gap: 8px;
  }

  .subtask-checkbox {
    padding-right: 16px;
  }

  .prio_edit_buttons,
  .status_edit_buttons {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .buttonPrio_edit {
    width: 100% !important;
  }

  .content {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 40px;
  }

  #overlay-content {
    width: calc(100vw - 32px);
  }

  .title {
    width: calc(100vw - 64px) !important;
  }

  .width-440 {
    width: calc(100vw - 64px);
  }
}

@media(max-width: 372px) {
  .arrow_signUp {
    left: -10px;
  }

  .search-field {
    width: unset
  }
}