@media(max-width: 1275px) {
    .greeting-box {
        display: none;
    }

    #summary-page {
        padding-top: 0px;
        padding-left: 0px;
    }

    #greeting-overlay.show {
        display: flex;
    }
}

@media (max-width: 840px),
(max-height: 800px) {
    .outer-box {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    #summary-page {
        padding-left: 0;
        padding-top: 0;
        gap: 36px;
    }

    #header-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    #title {
        font-size: 47px;
    }

    #headline {
        font-size: 20px;
    }

    .box-row {
        height: 110px;
    }

    .symbol-box {
        gap: 10px;
    }

    .box {
        border-radius: 20px;
    }

    .number {
        font-size: 47px;
    }

    .description,
    .deadline-info {
        font-size: 14px;
    }

    #summary-content {
        width: 396px;
        height: 384px;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .todo:hover .desktop {
        display: none;
    }

    .todo:hover .mobile.hover-show {
        display: block;
    }

    .hover-show {
        display: none;
    }

    .todo {
        width: 186px;
    }

    .todo:hover {
        background-color: #2A3647;
    }

    #deadline-box {
        height: 110px;
        padding-top: 28px;
        padding-bottom: 28px;
        gap: 20px;
    }

    #deadline-symbol {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    #deadline-image {
        width: 22.79px;
        height: 16.74px;
    }

    #date-info {
        gap: 8px;
    }

    .deadline-date {
        font-size: 16px;
    }

    .sum-up {
        width: 116px;
        height: 116px;
    }
}

@media(max-width: 680px) {
    .outer-box {
        height: calc(100vh - 160px);
        width: 100vw;
        bottom: 80px;
    }

    #greeting-overlay {
        width: 100vw;
    }
}

@media(max-width: 420px) {
    #summary-page {
        width: calc(100vw - 16px);
    }

    .box-row {
        width: calc(100vw - 16px);
    }

    #do-done-box {
        width: calc(100vw - 16px);
    }

    .todo {
        padding-left: 15px;
        padding-right: 15px;
    }

    .sum-up {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(max-height: 700px) {
    #summary-page {
        padding: 0;
        gap: 16px;
    }

    #summary-content {
        height: 344px;
    }
}