body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #2A3647;
    background-color: #F6F7F8;
}

.outer-box {
    width: calc(100vw - 232px);
    height: calc(100vh - 96px);
    background-color: #F6F7F8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

#summary-page {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#header-box {
    display: flex;
    align-items: center;
    gap: 30px;
}

#title {
    font-size: 61px;
    font-weight: 700;
    color: #000000;
}

#headline {
    font-size: 27px;
}

#page-content {
    display: flex;
    align-items: center;
    gap: 96px;
}

#summary-content {
    width: 560px;
    height: 562px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box {
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.box:hover {
    transform: scale(1.1);
}

#deadline-box:hover {
    transform: scale(1.06);
}

.box-row {
    height: 168px;
    max-width: 560px;
}

.number {
    font-size: 64px;
    font-weight: 600;
    color: #000000;
}

.no-wrap {
    text-wrap: nowrap !important;
}

.urgent {
    background-color: #FF3D00;
}

.medium {
    background-color: #FFA800;
}

.low {
    background-color: #7AE229;
}

.symbol-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.symbol {
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile {
    display: none;
}

#do-done-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.symbol-box-prio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.todo {
    box-sizing: border-box;
    padding: 38px 58px;
    width: 264px;
}

.todo:hover {
    background-color: #2A3647;
    color: #FFFFFF;
}

.todo:hover .number {
    color: #FFFFFF;
}

.hover-show {
    display: none;
}

.todo:hover .hover-hide {
    display: none;
}

.todo:hover .hover-show {
    display: block;
}

.todo:hover .mobile {
    display: none;
}

#deadline-box {
    box-sizing: border-box;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 61px;
    padding: 28px 48px;
}

#deadline-box:hover {
    background-color: #2A3647;
    color: #FFFFFF;
}

#deadline-box:hover .number {
    color: #FFFFFF;
}

#deadline-symbol {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#deadline-image {
    width: 34.19px;
    height: 25.12px;
}

#date-info {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.deadline-info {
    font-size: 16px;
}

.deadline-date {
    font-size: 21px;
    font-weight: 700;
}

#sum-up-box {
    display: flex;
    justify-content: space-between;
}

.sum-up {
    box-sizing: border-box;
    width: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 25px;
}

.sum-up:hover {
    background-color: #2A3647;
    color: #FFFFFF;
}

.sum-up:hover .number {
    color: #FFFFFF;
}

.description {
    text-wrap: wrap;
}

.greeting-box {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.greeting {
    font-size: 47px;
}

.greet-name {
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
}

#greeting-overlay {
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100vw - 232px);
    height: 100vh;
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F7F8;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#greeting-overlay.show {
    opacity: 1;
    visibility: visible;
}